.background {
    background-color: aqua;
}

.title {
    color: crimson;
}

.underTitle {
    color: coral;
    text-decoration: underline;
    border: thin solid red;
    width: 50%;
    height: 50px;
    box-shadow: 3px 3px 3px black;
}

.paragraph {
    color: black;
    font-family: Arial;
    font-size: large;
}