.background {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}




.flex-header {
    background-color: tomato;

}

.flex-main {
    background-color: crimson;
}

.flex-footer {
    background-color: indianred;
}
