.background {
    display: flex;
    text-align: center;

}

.flex-header {
    background-color: tomato;
}

.flex-main {
    background-color: crimson;
}

.flex-aside {
    background-color: darkgoldenrod;
}

.flex-footer {
    background-color: indianred;
}
